* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(0, 0, 0, .1);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
  height: 100vh;
}

form {
  padding: 80px 20px 100px 20px;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 2px #d9d9d9, -2px -2px 1px #eee;
  background-color: #fff;
  position: relative;
}

form .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

form .heading h1 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

form .heading p {
  font-size: 15px;
  font-weight: 500;
}

form .input-box {
  border: 2px solid blue;
  padding: 5px 20px;
  width: 70%;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 50px;
  background-color: #fff;
}

form .input-box .form-label {
  color: blue;
  position: absolute;
  left: 20px;
  top: -13px;
  background-color: #fff;
  padding: 0 15px;
  font-weight: 700;
  font-size: 16px;
}

form .input-box .form-input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 10px;
  cursor: grab;
}

form .input-box input[type="text"] {
  font-size: 18px;
  font-weight: 500;
  cursor: text;
  transform: translateY(-10%);
}

form .input-box input[type=file] {
  height: 100%;
  border: none;
}

form  .btn {
  background-color: blue;
  color: #f2f2f2;
  width: 70%;
  padding: 15px 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border-radius: 7px;
}

.visit-links {
  width: auto;
  height: 50px;
  background-color: blue;
  color: #f2f2f2;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  gap: 5px;
}

/* BATAS */

.popup {
  width: 200px;
  height: 150px;
  background-color: #fff;
  padding: 30px 50px;
  box-shadow: -3px -3px 2px #f2f2f2, 5px 5px 3px #d9d9d9;
  border-radius: 7px;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.popup p {
  font-weight: 700;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.popup button {
  padding: 20px 200px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
    padding: 0 5%;
    height: 100vh;
    width: 100%;
    background-color: #fff;
  }

  form {
    border: none;
    padding: 50px 5% 50px 5%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 0;
    box-shadow: none;
  }

  form .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  form .heading h1 {
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
  }

  form .heading p {
    font-size: 13px;
    font-weight: 500;
    color: blue;
  }

  form .input-box {
    border: 2px solid blue;
    padding: 5px 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 50px;
    background-color: #fff;
  }

  form .input-box .form-label {
    color: blue;
    position: absolute;
    left: 13px;
    top: -12px;
    background-color: #fff;
    padding: 0 5px;
    font-weight: 500;
    font-size: 14px;
  }

  form .input-box .form-input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 10px;
    font-size: 13px;
  }

  form .input-box input[type="text"] {
    font-size: 15px;
    font-weight: 500;
    cursor: text;
    transform: translateY(-15%);
  }

  form .btn {
    background-color: blue;
    color: #f2f2f2;
    width: 100%;
    padding: 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    min-height: 50px;
  }

  .visit-links {
    width: auto;
    height: 40px;
    background-color: blue;
    color: #f2f2f2;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    gap: 5px;
  }

  .popup {
    width: 200px;
    height: auto;
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: -2px -2px 1px #f2f2f2, 4px 4px 2px #d9d9d9;
    border-radius: 7px;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  
  }
  
  .popup p {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .popup button {
    padding: 10px 30px;
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
  }
}
